.pets {
  @include width-block(auto);
  text-align: center;
}

.pets__wrapper {
  @include width-block(320px);
  padding: 52px 15px 30px;
}

.pets__title {
  margin: 0;
  font-family: $font-secondary;
  font-weight: normal;
  font-size: 28px;
  line-height: 1.3;
}

.pets__description {
  margin: 22px 0 0 0;
  font-weight: 300;
  font-size: 14px;
  color: $color-secondary;
}

.pets__list {
  margin: 32px 0 35px;
  padding: 0 5px;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.pets__item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  color: rgba(255, 255, 255, 0.2);
}

.pets__item-link {
  &--active {
    color: $color-base;
  }

  &:hover,
  &:focus {
    color: $color-secondary;
    outline: none;
  }

  &:active {
    color: $color-secondary;
    opacity: 0.6;
  }
}

.pets__photos-wrapper {
  position: relative;
  margin-bottom: 1px;
}

.pets__button-left,
.pets__button-right {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.pets__button-left  svg,
.pets__button-right svg {
  stroke: $color-secondary;
  fill: none;
}

.pets__button-left {
  left: -5px;

}

.pets__button-right {
  right: -7px;

}

.pets__img-wrapper {
  @include width-block(234px);
  height: 247px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-shadow: 0px 0px 30px rgba(3, 3, 3, 0.15);
  margin-bottom: 45px;

  &--2, &--3 {
    display: none;
  }
}

.pets__img {
  width: 127%;
  margin-left: -31px;
}

@media (min-width: $tablet-width) {
  .pets__wrapper {
    @include width-block(768px);
    padding: 100px 43px 40px;
  }

  .pets__title {
    font-size: 36px;
  }

  .pets__description {
    @include width-block(516px);
    font-size: 16px;
  }

  .pets__list {
    margin: 40px 0;
    justify-content: center;
  }

  .pets__item {
    font-size: 18px;

    &:nth-child(2n) {
      margin: 0 26px;
    }
  }

  .pets__photos-wrapper {
    display: flex;
    align-items: center;
    min-height: 540px;
  }

  .pets__button-left,
  .pets__button-right {
    width: 12px;
    height: 29px;
    top: 115.65px;
  }

  .pets__button-left svg,
  .pets__button-right svg {
    width: 12px;
    height: 29px;
    top: 115.65px;
    stroke-width: 2px;
  }

  .pets__button-left {
    order: 1;
    left: 29px;
  }

  .pets__button-right {
    order: 5;
    right: 29px;
  }

  .pets__img-wrapper {
    box-shadow: none;
    &--1 {
      @include width-block(530px);
      height: 514px;
      margin-bottom: 45px;
      order: 3;
      left: 50%;
      top: 0px;
      transform: translateX(-50%);
      position: absolute;
    }

    &--2,
    &--3 {
      height: 200px;
      display: block;
    }

    &--2 {
      width: 417.95px;
      order: 2;
      margin-left: 10px;
    }

    &--3 {
      width: 470px;
      right: 18px;
      order: 4;
      margin-right: 10px;
      margin-left: -342px;
    }
  }

  .pets__img {
    &--2,
    &--3 {
      display: inline-block;
      margin: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .pets__wrapper {
    @include width-block(1200px);
    padding: 100px 40px 40px 38px;
  }

  .pets__photos-wrapper {
    padding-left: 76px;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 503px;
  }

  .pets__other-photos-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .pets__button-left,
  .pets__button-right {
    display: none;
  }

  .pets__img-wrapper {
    height: 494px;
    margin-bottom: 45px;

    &--1 {
      position: static;
      left: auto;
      transform: none;
      order: 5;
    }

    &--2,
    &--3 {
      width: 519px;
      height: 234px;
      margin: 0;
    }

    &--2 {
      order: 2;
      margin-top: 24px;
    }

    &--3 {
        order: 1;
    }
  }

  .pets__img {
    &--1 {
      margin: -50px 0 0 0;
    }
  }
}
