.team {
  @include width-block(auto);
  text-align: center;
  line-height: 1.4;
  background-color: $bg-secondary;
}

.team__container {
  @include width-block(320px);
  padding: 50px 15px 60px;
  position: relative;
}

.team__title {
  margin: 0;

  font-family: $font-secondary;
  font-size: 28px;
  line-height: 1.3;
  font-weight: normal;
}

.team__description {
  width: 254px;
  margin: 22px auto 100px;

  font-weight: 300;
  font-size: 14px;
  line-height: 1.4;
  color: $color-secondary;
}

.team__button {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 254px;

  &--right {
    right: 66px;
  }

  &--left {
    left: 68px;
  }
}

.team__button  svg {
  stroke: #A07B50;
  fill: none;
}

.team__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .team__container {
    @include width-block(768px);
    padding: 84.59px 43px 193.73px;
  }

  .team__title {
    font-size: 36px;
  }

  .team__description {
    width: 510px;
    margin: 23.44px auto 23.32px;

    font-size: 16px;
  }

  .team__button {
    width: 12px;
    height: 29.56px;
    top: auto;
    bottom: 98px;

    &--right {
      right: 58px;
    }

    &--left {
      left: auto;
      right: 368px;
    }
  }

  .team__button svg {
    width: 12px;
    height: 29.56px;
  }

  .team__list {
    border: 1px solid rgba(160, 123, 80, 0.43);
    padding: 23.56px 24px 23.35px 25px;
  }
}

@media (min-width: $desktop-width) {
  .team__container {
    @include width-block(1200px);
    padding: 83px 40px 72px;
  }

  .team__description {
    margin: 23px auto 22px;
  }

  .team__button {
    top: auto;
    bottom: 274px;

    &--right {
      right: 0px;
    }

    &--left {
      left: 0px;
      right: auto;
    }
  }

  .team__list {
    width: 650px;
    box-sizing: border-box;
    margin-left: 400px;
    padding: 23px 24px 23px 26px;
  }
}
