$font-primary: "Roboto", "Arial", sans-serif;
$font-secondary: "Yeseva One", "Georgia", serif;


$color-base: #ffffff;
$color-secondary: #A07B50;
$bg-primary: rgba(21, 19, 19, 100%);


$tablet-width: 768px;
$desktop-width: 1300px;
$mobile-width-only: 767px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;


@mixin width-block($width) {
  width: $width;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}
